<div class="featured-coll"></div>
    <div class="container feat-cont d-fx jc-sb">
        {% assign slug = section.settings.slug %}
        {% for block in section.blocks %}
           {% assign img = block.settings.col_image  %}
        <div class="featured-item">
            <a href="{{ block.settings.col_link }}">
                <img src="{{ block.settings.col_image | img_url : '600x' }}" alt="" loading="lazy"  >
              
            </a>
            <a href="{{ block.settings.col_link }}" class="featured-title">{{ block.settings.col_title }}</a>
        </div>
        {% endfor %}
        {%- for product in collections[slug].products limit: 1 -%}
            
            {%- assign featured_image = product.featured_image -%}
            {%- assign selected_or_first_available_variant = product.selected_or_first_available_variant -%}
            {%- assign variant_url = '' -%}
            {%- if product.selected_or_first_available_variant -%}
                {%- assign variant_url = '?variant=' | append: product.selected_or_first_available_variant.id -%}
            {%- endif -%}
            {% if product.selected_variant %}
                {% assign selected_or_first_available_variant = product.selected_variant %}
                {% assign product_price             = selected_or_first_available_variant.price %}
                {% assign product_compare_at_price  = selected_or_first_available_variant.compare_at_price %}
                {% if selected_or_first_available_variant.image %}
                    {% assign featured_image = selected_or_first_available_variant.image %}
                {% endif %}
            {% endif %}
            {%- assign variants_count = product.variants | size -%}
            <div class="products-item">
                <a href="{{ root_url }}{{ product.url }}">
                    <img src="{{ featured_image |  img_url : '600x' }}" alt="" loading="lazy" >
                </a>
                
                <div class="product-details--top">
                    <a href="{{ root_url }}{{ product.url }}" class="product-title">{{ product.title }}</a>
                    <div class="pr-price hide-on-mobile">{{ product.price |  money_with_currency }}</div>
                </div>
                
                <div class="product-details">
                    {{product.metafields.product_settings.material}} — {{ product.metafields.product_settings.size }} <br>
                    {{ product.metafields.product_settings.brand }}
                    <div class="pr-price hide-on-desktop">{{ product.price |  money_with_currency }}</div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>
{% schema %} 
{
  "name":"Featured Collections",
  "tag":"section",
  "class":"featured-collections",
  "settings": [
    
    {
      "type": "text",
      "id": "slug",
      "label": "Slug",
    },
  ],
  "blocks":[
     {
        "name":"Collection",
        "type":"text",
        "settings":[
          {
            "type":"image_picker",
            "id":"col_image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"col_title",
            "label":"Title"
          },
          {
            "type":"url",
            "id":"col_link",
            "label":"Link"
          },
        ]
     },
  ]
}
{% endschema %}