{% if collection_300679331958 == null %}{%- assign collection_300679331958 = collections["amazzonia"] -%}{% endif %} {% if collection_300678742134 == null %}{%- assign collection_300678742134 = collections["chic-zen"] -%}{% endif %} {% if collection_300677857398 == null %}{%- assign collection_300677857398 = collections["crystal-touch"] -%}{% endif %} {% if collection_301376176246 == null %}{%- assign collection_301376176246 = collections["elf-co"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["300679331958"] = {{collection_300679331958 | json }};window.__pageflyCollections["300678742134"] = {{collection_300678742134 | json }};window.__pageflyCollections["300677857398"] = {{collection_300677857398 | json }};window.__pageflyCollections["301376176246"] = {{collection_301376176246 | json }};
	</script><div data-pf-editor-version="gen-2" class="sc-ktJcvw iZCSon __pf __pf_iKZDSmnH" id="__pf"><div data-pf-type="Body" class="sc-fAGzVM kCwfYM pf-2_"><div data-pf-type="Layout" class="sc-bJBfJu gmOWvi pf-3_"><section data-section-id="pf-b5df" data-category="Collection Suggestion" data-name="Lookbook" data-pf-type="FlexSection" class="sc-kyDkUr gQpKsL pf-4_ pf-color-scheme-1"><div class="sc-hCrSsE fbnsOv pf-flex-section"><div data-pf-type="FlexBlock" class="sc-bRilDX eDlaIl pf-5_"><div data-pf-type="FlexBlock" class="sc-bRilDX eDlaIl pf-6_"><div data-product-id="300677857398" data-pf-type="CollectionBox" class="sc-bWJTsT bqQLUR pf-7_ pf-bg-lazy">{% assign defaultCollection = collection %}{% assign collection = collection_300677857398 %}<h3 data-pf-type="Heading2" class="sc-kRRxPL kSaugo pf-8_ pf-heading-1-h3"><a data-link="inherit" href="/collections/amazzonia" target="_self">GLASSES</a></h3>{% assign collection = defaultCollection %}</div><div data-product-id="300678742134" data-pf-type="CollectionBox" class="sc-bWJTsT bqQLUR pf-30_ pf-bg-lazy">{% assign defaultCollection = collection %}{% assign collection = collection_300678742134 %}<h3 data-pf-type="Heading2" class="sc-kRRxPL kSaugo pf-29_ pf-heading-1-h3"><a data-link="inherit" href="/collections/amazzonia" target="_self">GLASSES</a></h3>{% assign collection = defaultCollection %}</div><div data-product-id="301376176246" data-pf-type="CollectionBox" class="sc-bWJTsT bqQLUR pf-27_ pf-bg-lazy">{% assign defaultCollection = collection %}{% assign collection = collection_301376176246 %}<h3 data-pf-type="Heading2" class="sc-kRRxPL kSaugo pf-26_ pf-heading-1-h3"><a data-link="inherit" href="/collections/amazzonia" target="_self">GLASSES</a></h3>{% assign collection = defaultCollection %}</div></div><div data-pf-type="FlexBlock" class="sc-bRilDX eDlaIl pf-16_ pf-bg-lazy"><h3 data-pf-type="Heading2" class="sc-kRRxPL kSaugo pf-17_ pf-heading-1-h3">NITRO FEATURED COLLECTION</h3><p class="sc-knuQPt cmQWaw pf-19_ pf-text-1" data-pf-type="Paragraph3">Spring / Summer</p><p class="sc-knuQPt cmQWaw pf-21_ pf-text-1" data-pf-type="Paragraph3">lookbook</p><a data-pf-type="Button2" class="sc-dNsUpz dhOssz pf-23_ pf-button-1 animate-grow">SHOP NOW FOR 70% OFF</a></div></div></div></section></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"collection_block","pageType":"home","pageId":"9875a56f-b436-4187-8685-a518048a363e","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"sectionRootType":"FlexSection","trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.23.6.4","shopDomain":"8344ca-27.myshopify.com","elementData":{},"shopifyProxyPath":"/apps/pagefly"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://8344ca-27.myshopify.com/admin/apps/pagefly/editor?id=9875a56f-b436-4187-8685-a518048a363e&type=home)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}