{%- style -%}
  .section-{{ section.id }}-padding{
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
  @media screen and (min-width: 750px){
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.content.text-align-center {text-align: center;}
.content.text-align-left {text-align: start;}
.content.text-align-right {text-align: end;}


{%- endstyle -%}

<section class="section-{{ section.id }}-padding section-{{ section.id }}-margin color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width-landing">
	{%- if section.settings.inline_richtext != blank -%}
       <div class="content main_heading text-align-{{ section.settings.alignment }}">
         <h2>{{ section.settings.inline_richtext }}</h2>
         {%- if section.settings.sub_text != blank -%}
           <p>{{ section.settings.sub_text }}</p>
         {%- endif -%}
       </div>
    {%- endif -%}
      <div class="why_partner_container">
        {% for block in section.blocks %}
          <div class="why_partner_block">
            {% if block.settings.image != blank %}
              <div class="why_partner_img">
                <img src="{{ block.settings.image | img_url: 'master' }}" height="" width="">
              </div>
            {% endif %}
            {% if block.settings.title != blank or block.settings.subtitle != blank %}
              <div class="why_partner_text">
                {% if block.settings.title != blank %}
                  <h4>{{ block.settings.title }}</h4>
                {% endif %}
                
                {% if block.settings.sub_title != blank %}
                  <p>{{ block.settings.sub_title }}</p>
                {% endif %}
              </div>
            {% endif %}

          </div>
        {% endfor %}
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Partner Section",
    "class": "partner_sec",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      },
      {
        "type": "inline_richtext",
        "id": "inline_richtext",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "sub_text",
        "label": "Sub Text"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Content alignment",
        "options": [
          { "value": "center", "label": "Center" },
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "Padding and Margin"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step":2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step":2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Padding and Margin Mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 200,
        "step":2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 200,
        "step":2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
    ],
     "blocks": [
       {
         "type": "column",
         "name": "Column",
         "settings": [
           {
             "type": "image_picker",
             "id":"image",
             "label": "Image"
           },
            {
              "type": "text",
              "id": "title",
              "label": "Content"
            },
            {
              "type": "inline_richtext",
              "id": "sub_title",
              "label": "Sub Text"
            },
         ]
       }
     ],
     "presets": [
      {
        "name": "Partner Section"         
     }
   ]
  }
{% endschema %}


